<!DOCTYPE html>
<head>
    <link rel="stylesheet" type=text/css href="../css/style.css">
    <script src="https://kit.fontawesome.com/2f35c77861.js" crossorigin="anonymous"></script>
    <title>HOME PAGE</title>
</head>
<body>
    <div class="base-container">
        <nav-bar>
            <!-- miejsce na home, search,friends ikonki img profilowe-->
            <div class="logo">
                <!--TODO Area for logo svg image-->
                <!--Temporarily-->
                UpTive
            </div>
            <div class="add-activity">
                <i class="fas fa-plus-circle"></i>
                 ADD ACTIVITY
            </div>
            <div class="navi">HOME</div>
            <div class="navi">SEARCH</div>
            <div class="navi">FRIENDS</div>
            <div class="icons">
                <i class="fas fa-cog"></i>
                <i class="far fa-bell"></i>
                <i class="fas fa-sign-out-alt"></i>
            </div>

            <div class="avatar-container">
                <div class="avatar">
                    <img src="../img/basic.jpg" alt="Avatar">
                </div>
                <br><br><br>
                Name Surname
            </div>


        </nav-bar>

        <left-bar>

        </left-bar>
        <main>

            <section class="events">
                <div>event 1</div>
                <div>event 2</div>
                <div>event 3</div>
                <div>event 4</div>
            </section>
        </main>
        
        
    </div>
</body>