<!DOCTYPE html>
<head>
    <link rel="stylesheet" type=text/css href="../css/style.css">
    <link rel="stylesheet" type=text/css href="../css/events.css">
    <link rel="stylesheet" type=text/css href="../css/profile.css">
    <script src="https://kit.fontawesome.com/2f35c77861.js" crossorigin="anonymous"></script>
    <title>PROFILE PAGE</title>
</head>
<body>
<div class="base-container">
    <nav-bar>
        <!-- miejsce na home, search,friends ikonki img profilowe-->
        <div class="logo">
            <!--TODO Area for logo svg image-->
            <!--Temporarily-->
            UpTive
        </div>
        <div class="add-activity">
            <i class="fas fa-plus-circle"></i>
            ADD ACTIVITY
        </div>
        <div class="navi">HOME</div>
        <div class="navi">SEARCH</div>
        <div class="navi">FRIENDS</div>
        <div class="navi-icons">
            <i class="fas fa-cog"></i>
            <i class="far fa-bell"></i>
            <i class="fas fa-sign-out-alt"></i>
        </div>

        <div class="avatar-container">
            <div class="avatar">
                <img src="../img/basic.jpg" alt="Avatar">
            </div>
            <br><br><br>
            Name Surname
        </div>


    </nav-bar>

    <main>

        <left-bar>
            <div class="title-label">CALENDAR</div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>

        </left-bar>
        <main-content-profile>
            <left-main>
                <div class="avatar-profile">
                    <img src="../img/basic.jpg" alt="Avatar">
                </div>
                <br>
                <h>Name Surname</h>
                <div class="socials">
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-snapchat-ghost"></i>
                </div>
                <div class="title-label">BIO</div>
                <div class="bio-text">
                    Just some text that will be hereeeee.Just some text that will be hereeeee.
                    Just some text that will be hereeeee.Just some text that will be hereeeee.

                </div>

                <div class="title-label">CURRENT ACTIVITIES</div>
                <div class="events-container">
                    <i class="fas fa-chevron-left"></i>
                    <div class="event">
                        <div class="avatars-container">
                            <div class="number">+2</div>
                            <div class="avatar_event">
                                <img src="../img/basic.jpg" alt="Avatar">
                            </div>
                        </div>
                        <ul>
                            <li><i class="fas fa-swimmer"></i> </li>
                            <li><i class="fas fa-map-marker-alt"></i> </li>
                            <li> <i class="far fa-calendar-alt"></i></li>
                            <li><i class="far fa-clock"></i></li>
                        </ul>
                        <div class="status">Waiting for response</div>
                        <div class="icons">
                            <i class="far fa-edit"></i>
                            <i class="far fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-h"></i>
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <div class="event">
                        <div class="avatars-container">
                            <div class="number">+2</div>
                            <div class="avatar_event">
                                <img src="../img/basic.jpg" alt="Avatar">
                            </div>
                        </div>
                        <ul>
                            <li><i class="fas fa-swimmer"></i> </li>
                            <li><i class="fas fa-map-marker-alt"></i> </li>
                            <li> <i class="far fa-calendar-alt"></i></li>
                            <li><i class="far fa-clock"></i></li>
                        </ul>
                        <div class="status">Waiting for response</div>
                        <div class="icons">
                            <i class="far fa-edit"></i>
                            <i class="far fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-h"></i>
                            <i class="far fa-times-circle"></i>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            </left-main>
            <right-main>
                <div class="title-label">ACTIVITIES</div>
                <div class="activity-container">
                    <i class="fas fa-swimmer"></i>
                    <div class="activity">
                           <!--SWIMMING-->
                    </div>
                    <div class="activity-level"></div>
                </div>
                <i class="fas fa-plus-square"></i>
                <div class="title-label">ACHIEVEMENTS</div>
                <div class="achievement-container">
                    <div class="achievement-text-container">
                        <div class="achievement-title">Some title</div>
                        <div class="achievement-text">
                            Just some text that will be hereeeee.Just some text that will be hereeeee.
                            Just some text that will be hereeeee.Just some text that will be hereeeee.
                            Just some text that will be hereeeee.Just some text that will be hereeeee.
                            Just some text that will be hereeeee.Just some text that will be hereeeee.
                            Just some text that will be hereeeee.Just some text that will be hereeeee.
                        </div>

                    </div>
                    <div class="avatar">
                        <img src="../img/basic.jpg" alt="Avatar">
                    </div>
                </div>
                <i class="fas fa-plus-square"></i>
            </right-main>
        </main-content-profile>


    </main>
    <nav-bar-mobile>
        <div class="icon-container-mobile">
            <i class="far fa-bell"></i>
            <h>NOTIFS</h>
        </div>
        <div class="icon-container-mobile">
            <i class="fas fa-home"></i>
            <h>HOME</h>
        </div>
        <div class="icon-container-mobile">
            <i class="far fa-calendar-alt"></i>
            <h>CALENDAR</h>
        </div>
        <div class="icon-container-mobile">
            <i class="fas fa-search"></i>
            <h>SEARCH</h>
        </div>
        <div class="icon-container-mobile">
            <i class="fas fa-users"></i>
            <h>FRIENDS</h>
        </div>
        <div class="avatar">
            <img src="../img/basic.jpg" alt="Avatar">
        </div>

    </nav-bar-mobile>

</div>
</body>