<!DOCTYPE html>
<head>
    <link rel="stylesheet" type=text/css href="../css/style.css">
    <link rel="stylesheet" type=text/css href="../css/events.css">
    <link rel="stylesheet" type=text/css href="../css/profile.css">
    <link rel="stylesheet" type=text/css href="../css/form.css">
    <link rel="stylesheet" type=text/css href="../css/glide.core.min.css">

    <script src="https://kit.fontawesome.com/2f35c77861.js" crossorigin="anonymous"></script>
    <title>TRY</title>
</head>
<body>
<div class="base-container">
    <nav-bar>
        <!-- miejsce na home, search,friends ikonki img profilowe-->
        <div class="logo">
            <!--TODO Area for logo svg image-->
            <!--Temporarily-->
            UpTive
        </div>
        <div class="add-activity">
            <i class="fas fa-plus-circle"></i>
            ADD ACTIVITY
        </div>
        <div class="navi">HOME</div>
        <div class="navi">SEARCH</div>
        <div class="navi">FRIENDS</div>
        <div class="navi-icons">
            <i class="fas fa-cog"></i>
            <i class="far fa-bell"></i>
            <i class="fas fa-sign-out-alt"></i>
        </div>

        <div class="avatar-container">
            <div class="avatar">
                <img src="../img/avatars/basic.jpg" alt="Avatar">
            </div>
            <br><br><br>
            Name Surname
        </div>


    </nav-bar>
    <upper-bar-mobile>
        <div class="logo">UpTive</div>
        <div class="upper-bar-lower">
            <i class="fas fa-bars"></i>
            <div class="add-activity">
                <i class="fas fa-plus-circle"></i>
                ADD ACTIVITY
            </div>
            <i class="fas fa-ellipsis-v"></i>

        </div>
    </upper-bar-mobile>
    <main>

        <left-bar>
            <div class="title-label">CALENDAR</div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>
            <div class="calendar">
                <ul>
                    <li><i class="fas fa-swimmer"></i> </li>
                    <li><i class="fas fa-map-marker-alt"></i> </li>
                    <li> <i class="far fa-calendar-alt"></i></li>
                    <li><i class="far fa-clock"></i></li>
                </ul>
                <i class="fas fa-ellipsis-h"></i>
            </div>

        </left-bar>
        <main-content-profile>
            <div class="events-container">
                <!--Trying with glide.js-->
                <div class="glide">
                    <div data-glide-el="track" class="glide__track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <div class="event">
                                    <div class="avatars-container">
                                        <div class="number">+2</div>
                                        <div class="avatar_event">
                                            <img src="../img/avatars/basic.jpg" alt="Avatar">
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fas fa-swimmer"></i> </li>
                                        <li><i class="fas fa-map-marker-alt"></i> </li>
                                        <li> <i class="far fa-calendar-alt"></i></li>
                                        <li><i class="far fa-clock"></i></li>
                                    </ul>
                                    <div class="status">Waiting for response</div>
                                    <div class="icons">
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-comment-alt"></i>
                                        <i class="fas fa-ellipsis-h"></i>
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="event">
                                    <div class="avatars-container">
                                        <div class="number">+2</div>
                                        <div class="avatar_event">
                                            <img src="../img/avatars/basic.jpg" alt="Avatar">
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fas fa-swimmer"></i> </li>
                                        <li><i class="fas fa-map-marker-alt"></i> </li>
                                        <li> <i class="far fa-calendar-alt"></i></li>
                                        <li><i class="far fa-clock"></i></li>
                                    </ul>
                                    <div class="status">Waiting for response</div>
                                    <div class="icons">
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-comment-alt"></i>
                                        <i class="fas fa-ellipsis-h"></i>
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="event">
                                    <div class="avatars-container">
                                        <div class="number">+2</div>
                                        <div class="avatar_event">
                                            <img src="../img/avatars/basic.jpg" alt="Avatar">
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fas fa-swimmer"></i> </li>
                                        <li><i class="fas fa-map-marker-alt"></i> </li>
                                        <li> <i class="far fa-calendar-alt"></i></li>
                                        <li><i class="far fa-clock"></i></li>
                                    </ul>
                                    <div class="status">Waiting for response</div>
                                    <div class="icons">
                                        <i class="far fa-edit"></i>
                                        <i class="far fa-comment-alt"></i>
                                        <i class="fas fa-ellipsis-h"></i>
                                        <i class="far fa-times-circle"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="glide__arrows" data-glide-el="controls">
                        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </div>


        </main-content-profile>


    </main>
    <nav-bar-mobile>
        <div class="icon-container-mobile">
            <i class="far fa-bell"></i>
            <h>NOTIFS</h>
        </div>
        <div class="icon-container-mobile">
            <i class="fas fa-home"></i>
            <h>HOME</h>
        </div>
        <div class="icon-container-mobile">
            <i class="far fa-calendar-alt"></i>
            <h>CALENDAR</h>
        </div>
        <div class="icon-container-mobile">
            <i class="fas fa-search"></i>
            <h>SEARCH</h>
        </div>
        <div class="icon-container-mobile">
            <i class="fas fa-users"></i>
            <h>FRIENDS</h>
        </div>
        <div class="avatar">
            <img src="../img/avatars/basic.jpg" alt="Avatar">
        </div>

    </nav-bar-mobile>
</div>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
    new Glide('.glide').mount()
</script>
</body>