.calendar{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 55px;
    opacity: 0.55;

    color: #222E58;

    margin: 1em 1em;

    min-height: 10em;
    min-width: 13em;
}
.events-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.events-container>i{
    font-size: 1em;
}
.event{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 0.2em;

    background: #D8DCF1 0% 0% no-repeat padding-box;
    border-radius: 51px;

    margin: 1em 0.5em;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0 1em;
}
ul>li{
    border-bottom: solid 0.1em #222E58;

    margin: 1em 0;
    max-width: 12.5em;
    min-width: 12.5em;

    color: #222E58;
    font-size:0.9em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    //margin: 1.3em 0 ;
}
ul>li>i{
    padding-right: 0.5em;

}
.status{
    background: #222E5852 0% 0% no-repeat padding-box;
    border-radius: 51px;
    border: solid 0.2em black;
    opacity: 0.55;

    min-height: 1em;
    max-width: 12em;
    min-width: 12em;

    color: #222E58;
    opacity: 1;
    text-align: center;
    margin:0.5em;
}

.avatars-container{
    display: flex;
    flex-direction: row;
    //justify-content: center;
    //align-items: center;

    //min-height:3em;
    //min-width: 10em;

}
.number{
    background: #A9AEC1D6 0% 0% no-repeat padding-box;
    width: 2.3em;
    height: 2.3em;
    opacity:1;
    color:#222E58;
    border: solid 0.2em #222E58;
    border-radius: 50%;
    text-align: center;
    line-height: 2em;
}
.avatar_event{
    padding: 0.1em 0.1em;
    margin-left: -0.7em;  /*To overlap*/
}
.avatar_event>img{
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    border: solid 0.15em #222E58;

}
.icons{
    color:#222E58;
    display: flex;
    flex-direction: row;


}
.icons>i{
    margin:0.7em;
}
.icons>i:last-child{
    color:red;
}

/*Search events*/
/*left-bar*/
.filters{

}
form{
    padding:0;
    margin-right:0;
}
select{
    color:white;
//margin:1em;
    background: #222E58;
    border: 1px solid #FFFFFF;
    border-radius: 14px;
    opacity: 1;
    padding: 0.5em;
    max-width: 12em;
}
option{
    color: white;
}
/*events*/
.squared-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;

    color:#222E58;
    font-weight: bold;
    margin: 1em;
}
.squared-avatar>img{
    width:  4.5em;
    height: 4.5em;
    border: solid 0.2em #222E58;
}
.event_search_labels{
    font-size: 1.7em;
}
.message-container{
    border-radius: 25px;
    border: solid 0.2em #222E58;
    background: #D8DCF1 ;
    color:#222E58;
    text-overflow: ellipsis;
    overflow: hidden;
    padding:0.5em 1em;
    height:6em;
    width:18em;
}
@media only screen and (max-device-width: 420px){
    *{
        font-size:36px;
    }

    .logo{
        font-size: 2.5em
    }
    .left-bar{
        display:none;
    }
    .event_search_labels{
        font-size: 3em;
        margin:0 1em;
    }
    .message-container{
        height:5em;
        width:10em;
    }
}
