.form-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-items: flex-start;
    margin: 1em;


}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: flex-start;
    min-height: 40em;
    //max-height:auto;
    width:62em;
    padding:0;
}
input{
    margin:1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #5CA7FD;
    border-radius: 10px;
    opacity: 1;
    min-height: 3.5em;
    max-height: 3.5em;
    min-width: 10em;
    max-width: 10em;
}
textarea{
    margin:2em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #5CA7FD;
    border-radius: 10px;
    opacity: 1;
    min-height:10em;
}
select{

    margin:1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #5CA7FD;
    border-radius: 10px;
    opacity: 1;
    min-width: 30em;
    min-height: 3.5em;

}
option{
    color: #222E58;
}
::placeholder{
    color: #222E58;
}

button{
    align-self: flex-end;
    width:15em;
    height:4em;

    background: #5CA7FD 0% 0% no-repeat padding-box;
    border-radius: 25px;
    //font-size: 1em;
    padding:0;
    margin:0;
}

@media only screen and (max-device-width: 420px) {
    * {
        font-size: 36px;
    }
    form{
        width:100%;
        height:100%;
    }
    input{
        max-width: none;
    }
    textarea{
        display: none;
    }
}
